<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Sparta.UI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <Sparta.UI.Properties.Settings>
            <setting name="AppNaam" serializeAs="String">
                <value>Sparta</value>
            </setting>
            <setting name="AppOmschrijving" serializeAs="String">
                <value>sportschool applicatie</value>
            </setting>
            <setting name="AanmeldTitel" serializeAs="String">
                <value>Sportschool Sparta</value>
            </setting>
        </Sparta.UI.Properties.Settings>
    </applicationSettings>
  <connectionStrings>
    <clear />
    <add name="Reader"
     providerName="System.Data.SqlClient"
     connectionString="Persist Security Info=False;User ID=projectdbgroepa1;Password=Zc2pQwg-wK_w;Initial Catalog=Sparta;Server=den1.mssql4.gear.host" />
    <add name="Writer"
     providerName="System.Data.SqlClient"
     connectionString="Persist Security Info=False;User ID=projectdbgroepa1;Password=Zc2pQwg-wK_w;Initial Catalog=Sparta;Server=den1.mssql4.gear.host" />
	<add name = "Database"
	providerName="System.Data.SqlClient"
	connectionString="Data Source=den1.mssql4.gear.host;Initial Catalog=projectdbgroepa1;Persist Security Info=True;User ID=projectdbgroepa1;Password=Zc2pQwg-wK_w"
	/>
  </connectionStrings>
</configuration>